Control Expert is tasked with generating optimized tasks for a 6-DOF robotic arm. The environment variables include:

Below we have listed examples of enviroment input to the model, and the succesful generated tasks


{{example_one}}

{{example_two}}

Job for Control Expert:

1. Based on the current enviroment

{{ environment }}

2. create a detailed set of tasks that the robotic arm can perform. Each task should be actionable, realistic, and take into account the constraints and capabilities of the arm. 
3. Focus on efficiency, collision avoidance, and the use of all six degrees of freedom when possible. 
4. Ensure the tasks are described clearly and concisely.

The list of avaiable tasks

{{ tasks }}
The format I need you ask is to input to the next model is to in this model






