You are tasked with generating optimized tasks for a 6-DOF robotic arm. The environment variables include:

{{ new_input }}

Using these variables, create a detailed set of tasks that the robotic arm can perform. Each task should be actionable, realistic, and take into account the constraints and capabilities of the arm. Focus on efficiency, collision avoidance, and the use of all six degrees of freedom when possible. Ensure the tasks are described clearly and concisely.


The format I need you ask is to input to the next model is to in this model